@use "../../scss/" as *;

.agents-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.agent__wrapper--main {
  position: relative;
  width: 100%;
  height: 85%;
  @include flex(center, center);
  background-image: url(../../assets/backgrounds/agentBgSprite.png);
  -webkit-box-reflect: below 2px
    linear-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      #0008
    );
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    background-image: url(../../assets/backgrounds/bgSprite.png);
    width: 100%;
    height: 100%;
  }
  .center-logo {
    position: absolute;
    width: 550px;
    height: 460px;
    top: 25%;
    svg {
      width: 100%;
      height: 100%;
      color: $main-color;
      filter: drop-shadow(0 0 5rem $main-color);
    }
  }
}

.agent-content {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 -50px;
  height: 100%;
  z-index: 99;
}

.agentsSwiper {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
}
