@use "../../../scss/" as *;

.inventory-card {
  --spacing: 20px;
  position: relative;
  display: flex;
  @include flex(center, center);
  height: 460px;
  padding: 3rem;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .inventory-card__bg-hover::before {
      transform: translateX(0) skew(-10deg);
      transition: 0.3s ease-out;
    }
  }
  &__bg-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 120%;
    height: calc(100% + 0.1rem);
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 255, 202, 0.84);
      transform: translateX(-110%) skew(-10deg);
      transition: 0.3s ease-out;
      z-index: 8;
    }
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__img {
    position: relative;
    width: 100%;
    height: 50%;
    &--main {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(22px 24px 0 rgba(15, 25, 35, 0.95));
    }
  }
  &__name {
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    line-height: 1.1;
    filter: drop-shadow(10px 8px 8px rgba(15, 25, 35, 0.95));
    z-index: 9;
  }

  &__desc {
    font-size: 14px;
    font-family: $main-font;
  }
}
