@use "../../../scss/" as *;

.agent-card {
  // --column: 5;
  --spacing: 10px;
  position: relative;
  @include flex(center, center);
  flex-direction: column;
  //   width: calc(calc(100% / var(--column) - var(--spacing)));
  height: 200px;
  margin-left: var(--spacing);
  background: linear-gradient(to bottom, #443e4f 10%, #25222b 60%);
  border: 3px solid #352d3e;
  overflow: hidden;
  cursor: pointer;
  &__img {
    position: absolute;
    top: -100px;
    width: 600px; //636px
    height: 600px; //580px
    object-fit: contain;
    z-index: 9;
    filter: drop-shadow(11px 10px 0 rgba(0, 0, 0, 0.6));
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0 5px;
    @include flex(center, center);
    z-index: 9;
    background: linear-gradient(
      to bottom,
      #443e4f00 10%,
      rgba(37, 34, 43, 0.6) 60%
    );
    &--name {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.agent-card__border {
  position: absolute;
  top: -4px;
  left: 6px;
  width: 158px;
  height: 208px;
  border: 2px solid #00ffca;
  opacity: 0;
}
