@use "./scss/" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  @font-face {
    font-family: mainFontFamily;
    src: url(../src/assets/fonts/DrukWide.ttf);
  }
  color: #fff;
  font-family: mainFontFamily;
  font-size: 14px;
  font-weight: 400;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
}
